@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* COLORS */
  --cyan: hsl(179, 62%, 43%);
  --green: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);

  /* FONTS */
  --font-size: 1rem;
  --font-family: "Karla", sans-serif;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

body {
  background: var(--gray);
  font-family: var(--font-family);
}

main {
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.container {
  width: 90%;
  margin: 1rem auto;
  /* max-width: 39.6875rem; 635px */
}

.signup {
  background-color: white;
  box-shadow: 10px 3px 50px 8px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 10px 3px 50px 8px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 3px 50px 8px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  overflow: hidden;
  max-width: 702px; /* 635px */
}

.cards {
  padding: 2.1rem 2.5rem;
  min-width: 50%;
}

h2 {
  margin-bottom: 1rem;
}

.community {
  color: var(--blue);
  line-height: 1.5rem;
  padding: 2.8rem 2.5rem
}

.community h3 {
  color: var(--green);
  margin: 1rem 0;
}

.subscription {
  background-color: var(--cyan);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subscription .price {
  font-size: 2rem;
  font-weight: bold;
}

.price-tag span {
  font-size: 1rem;
  color: hsl(204, 43%, 93%, 70%);
}

.price-tag ~ p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1rem 0;
}

.btn {
  background-color: var(--green);
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  box-shadow: 1px 1px 250px black;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:active {
  transform: translateY(8px) scale(0.9);
}

.btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

.why {
  background-color: hsl(179, 62%, 43%, 75%);
  color: #ffffff;
}

h4 {
  margin-bottom: 0.4rem;
}

.list-item {
  list-style-type: none;
  color: hsl(0, 0%, 100%, 70%);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  .flex {
    display: flex;
  }
}
